<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}82IIo Clan || www.82110clan.de{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/index.js') }}"></script>
	{% block stylesheets %}
	<style>{% include "index.css.twig" %}</style>
	{% endblock %}
    </head>
    <body>

{% block body %}



   <!-- Begin Wrapper -->
   <div id="wrapper">
   
   <div class="table">
   
    
   
     <!-- Begin Header -->
     <div class="tr" id="header">
        <div class="td"></div>
     </div>
     <!-- End Header -->
     
    <!-- Main -->
    <div class="tr" id="main">
      <div class="td" id="navbar">
        {{ include('navbar.html.twig') }}
            <div id="clock">
                <p id="pendule">time</p>
                <p id="date">date</p>
            </div>
            <img alt="nav01" src="{{ asset('images/nav01.png') }}">
            <div id="hitcounter">
                <p><a href="?page=online">42 Hits</a><br>
                (seit 12.11.2k)<br>
                5 User Online
                </p> 
                <p>Last Post<br>
                13.Oct 15<br>
                12:43:10<br></p>
            </div>
      <!-- End navbar -->       
      </div>
    
      <!-- Begin Content -->
      <div class="td" id="content">
        <div id="contentHeader"><img alt="contentHead" src="{{ asset('images/contentHead' ~ name | capitalize ~'.png') }}"></div>
        {% block content %}Content!{% endblock %}</div>
      <!-- End Content -->
      
         
    
    <!-- End Table -->
    </div>


   <!-- Footer -->
   <div class="table" id="footer">
   
    <!-- W3C -->
    <div class="tr">
        <div class="td">
            <div id="w3c" >
             <a href="http://validator.w3.org/check?uri=http://www.82110clan.de" target="_blank">
               <img alt="w3c check" src="{{ asset('img/w3c-valid.gif') }}" /></a>
            </div>
        </div>
    </div>
    <!-- End W3C -->
    
    <div class="tr">
        <img alt="footer00" src="{{ asset('images/footer00.png') }}" />
    </div>
   
    
     <div class="tr">
        <div class="td" id="footer01">
            <div class="center">
                {{ include('footer.html.twig') }}
                <br>82IIo.CLAN | Copyright 2001-2016
            </div>
        </div>
        <div class="td"></div>
    </div>
    
    </div>
    <!-- End Footer -->

    
     
   </div></div>
   <!-- End Wrapper -->
   
{% endblock %}

{% block javascript %}
{% endblock %}

    </body>
</html>
