<ul>
<li>
    <a href="#navaboutus">
        <img name="navaboutus" border="0" src="{{ asset('img/navaboutus00.gif') }}" onmouseover="this.src='{{ asset('img/navaboutus01.gif') }}';" onmouseout="this.src='{{ asset('img/navaboutus00.gif') }}';" />
    </a>
</li>
<li>
    <a href="#navchat">
        <img name="navchat" border="0" src="{{ asset('img/navchat00.gif') }}" onmouseover="this.src='{{ asset('img/navchat01.gif') }}';" onmouseout="this.src='{{ asset('img/navchat00.gif') }}';" />
    </a>
</li>
<li>
    <a href="#navcontact">
        <img name="navcontact" border="0" src="{{ asset('img/navcontact00.gif') }}" onmouseover="this.src='{{ asset('img/navcontact01.gif') }}';" onmouseout="this.src='{{ asset('img/navcontact00.gif') }}';" />
    </a>
</li>
<li>
    <a href="#navevents">
        <img name="navevents" border="0" src="{{ asset('img/navevents00.gif') }}" onmouseover="this.src='{{ asset('img/navevents01.gif') }}';" onmouseout="this.src='{{ asset('img/navevents00.gif') }}';" />
    </a>
</li>
<li>
    <a href="#navfightus">
        <img name="navfightus" border="0" src="{{ asset('img/navfightus00.gif') }}" onmouseover="this.src='{{ asset('img/navfightus01.gif') }}';" onmouseout="this.src='{{ asset('img/navfightus00.gif') }}';" />
    </a>
</li>
<li>
    <a href="#navfiles">
        <img name="navfiles" border="0" src="{{ asset('img/navfiles00.gif') }}" onmouseover="this.src='{{ asset('img/navfiles01.gif') }}';" onmouseout="this.src='{{ asset('img/navfiles00.gif') }}';" />
    </a>
</li>
<li>
    <a href="#navforum">
        <img name="navforum" border="0" src="{{ asset('img/navforum00.gif') }}" onmouseover="this.src='{{ asset('img/navforum01.gif') }}';" onmouseout="this.src='{{ asset('img/navforum00.gif') }}';" />
    </a>
</li>
<li>
    <a href="#navintern">
        <img name="navintern" border="0" src="{{ asset('img/navintern00.gif') }}" onmouseover="this.src='{{ asset('img/navintern01.gif') }}';" onmouseout="this.src='{{ asset('img/navintern00.gif') }}';" />
    </a>
</li>
<li>
    <a href="#navlinks">
        <img name="navlinks" border="0" src="{{ asset('img/navlinks00.gif') }}" onmouseover="this.src='{{ asset('img/navlinks01.gif') }}';" onmouseout="this.src='{{ asset('img/navlinks00.gif') }}';" />
    </a>
</li>
<li>
    <a href="#navmacht">
        <img name="navmacht" border="0" src="{{ asset('img/navmacht00.gif') }}" onmouseover="this.src='{{ asset('img/navmacht01.gif') }}';" onmouseout="this.src='{{ asset('img/navmacht00.gif') }}';" />
    </a>
</li>
<li>
    <a href="#navmembers">
        <img name="navmembers" border="0" src="{{ asset('img/navmembers00.gif') }}" onmouseover="this.src='{{ asset('img/navmembers01.gif') }}';" onmouseout="this.src='{{ asset('img/navmembers00.gif') }}';" />
    </a>
</li>
<li>
    <a href="#navnews">
        <img name="navnews" border="0" src="{{ asset('img/navnews00.gif') }}" onmouseover="this.src='{{ asset('img/navnews01.gif') }}';" onmouseout="this.src='{{ asset('img/navnews00.gif') }}';" />
    </a>
</li>
<li>
    <a href="#navpub">
        <img name="navpub" border="0" src="{{ asset('img/navpub00.gif') }}" onmouseover="this.src='{{ asset('img/navpub01.gif') }}';" onmouseout="this.src='{{ asset('img/navpub00.gif') }}';" />
    </a>
</li>
<li>
    <a href="#navserver">
        <img name="navserver" border="0" src="{{ asset('img/navserver00.gif') }}" onmouseover="this.src='{{ asset('img/navserver01.gif') }}';" onmouseout="this.src='{{ asset('img/navserver00.gif') }}';" />
    </a>
</li>
<li>
    <a href="#navtactic">
        <img name="navtactic" border="0" src="{{ asset('img/navtactic00.gif') }}" onmouseover="this.src='{{ asset('img/navtactic01.gif') }}';" onmouseout="this.src='{{ asset('img/navtactic00.gif') }}';" />
    </a>
</li>
<li>
    <a href="#navtips">
        <img name="navtips" border="0" src="{{ asset('img/navtips00.gif') }}" onmouseover="this.src='{{ asset('img/navtips01.gif') }}';" onmouseout="this.src='{{ asset('img/navtips00.gif') }}';" />
    </a>
</li>
<li>
    <a href="#navwars">
        <img name="navwars" border="0" src="{{ asset('img/navwars00.gif') }}" onmouseover="this.src='{{ asset('img/navwars01.gif') }}';" onmouseout="this.src='{{ asset('img/navwars00.gif') }}';" />
    </a>
</li>
<li>
    <a href="#navwir">
        <img name="navwir" border="0" src="{{ asset('img/navwir00.gif') }}" onmouseover="this.src='{{ asset('img/navwir01.gif') }}';" onmouseout="this.src='{{ asset('img/navwir00.gif') }}';" />
    </a>
</li>

</ul>
