{% extends 'base.html.twig' %}

{% block body %}



   <!-- Begin Wrapper -->
   <div id="wrapper">
   
     <!-- Begin Header -->
     <div id="header">
        <img src="{{ asset('images/header.png') }}" />
     </div>
     
     <!-- End Header -->
     
     <div id="main">
     
     <!-- Begin Naviagtion -->
         <div id="navigation">
           {{ include('navbar.html.twig') }}

                
        <div id="clock" style="background-image:url('{{ asset('img/nav00.gif') }}')">
            <p id="pendule">time</p>
            <p id="date">date</p>
            
        </div>
        <img src="{{ asset('images/nav01.png') }}">

        

        <div id="hitcounter">
            <br>
            <p>
            <a href="?page=online">42 Hits</a><br>
            (seit 12.11.2k)<br>
            5 User Online
            </p><br>            
            <p>
            Last Post<br>
            13.Oct 15<br>
            12:43:10<br>
            </p>
        </div>
        
        <a id="w3c" href="http://validator.w3.org/check?uri=http://www.82110clan.de" target="_blank">
            <img src="{{ asset('img/w3c-valid.gif') }}">
        </a>
         
     </div>
     <!-- End Naviagtion -->
     
     <!-- Begin Content -->
     <div id="content">
     	{{ include('news/main.html.twig') }}
     </div>
     <!-- End Content -->
     
     </div>
     <!-- End Main -->
     
     <!-- Begin Footer -->
     <div id="footer" style="background-image:url(images/footer01.png)">

        <img src="{{ asset ('images/footer00.png') }}">
        <div id="footerlinks" >
        	{{ include('footer.html.twig') }}
        </div>
        <br>82IIo.CLAN | Copyright 2001-2016
       </div>
     <!-- End Footer -->
     
   </div>
   <!-- End Wrapper -->
   
{% endblock %}
