{% extends 'base.html.twig' %}

{% block body %}



   <!-- Begin Wrapper -->
   <div id="wrapper">
   
     <!-- Begin Header -->
     <div id="header">
        <img src="{{ asset('images/header.png') }}" />
     </div>
     
     <!-- End Header -->
     
     <div id="main">
     
     <!-- Begin Naviagtion -->
         <div id="navigation">
           {{ include('navbar.html.twig') }}

                
        <div id="clock" style="background-image:url('{{ asset('img/nav00.gif') }}')">
            <p id="pendule">time</p>
            <p id="date">date</p>
            
        </div>
        <img src="{{ asset('images/nav01.png') }}">

        

        <div id="hitcounter">
            <br>
            <p>
            <a href="?page=online">42 Hits</a><br>
            (seit 12.11.2k)<br>
            5 User Online
            </p><br>            
            <p>
            Last Post<br>
            13.Oct 15<br>
            12:43:10<br>
            </p>
        </div>
        
        <a id="w3c" href="http://validator.w3.org/check?uri=http://www.82110clan.de" target="_blank">
            <img src="{{ asset('img/w3c-valid.gif') }}">
        </a>
         
     </div>
     <!-- End Naviagtion -->
     
     <!-- Begin Content -->
     <div id="content">
     
<table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img ALT="" src="{{ asset('img/head00news.gif') }}" width="104" height="39"></td>
            <td><img ALT="" src="{{ asset('img/head01.gif') }}" width="29" height="39"></td>
            <td><img ALT="" src="{{ asset('img/head02.gif') }}" width="94" height="39"></td>
            <td><img ALT="" src="{{ asset('img/head03.gif') }}" height="39"></td>
          </tr>
</table>
<table cellpadding="4" border="1">
        <thead>
            <tr>
                <th colspan="2">Walking Dead</th>
            </tr>
            <tr><td colspan="2" height="18"></td></tr>
        </thead>
        <tfoot>
          <tr>
           <td width="75%">posted by JesusCh | 16.May 16</td>
           <td><center>
             <a href="?page=&amp;option=comment_news&amp;main_id=214"><b>1 comment(s)</b></a>
           </center></td>
          </tr>
        </tfoot>
        <tbody>
            <tr><td colspan="2">siRRao spielt das und es ist ganz toll und er hat nen Clan und so.. :)</td></tr>
        </tbody>
    </table><br>

<table cellpadding="4" border="1">
        <thead>
            <tr>
                <th colspan="2">Walking Dead</th>
            </tr>
            <tr><td colspan="2" height="18"></td></tr>
        </thead>
        <tfoot>
          <tr>
           <td width="75%">posted by JesusCh | 16.May 16</td>
           <td><center>
             <a href="?page=&amp;option=comment_news&amp;main_id=214"><b>1 comment(s)</b></a>
           </center></td>
          </tr>
        </tfoot>
        <tbody>
            <tr><td colspan="2">siRRao spielt das und es ist ganz toll und er hat nen Clan und so.. :)</td></tr>
        </tbody>
    </table><br>

<table cellpadding="4" border="1">
        <thead>
            <tr>
                <th colspan="2">Walking Dead</th>
            </tr>
            <tr><td colspan="2" height="18"></td></tr>
        </thead>
        <tfoot>
          <tr>
           <td width="75%">posted by JesusCh | 16.May 16</td>
           <td><center>
             <a href="?page=&amp;option=comment_news&amp;main_id=214"><b>1 comment(s)</b></a>
           </center></td>
          </tr>
        </tfoot>
        <tbody>
            <tr><td colspan="2">siRRao spielt das und es ist ganz toll und er hat nen Clan und so.. :)</td></tr>
        </tbody>
    </table><br>

<table cellpadding="4" border="1">
        <thead>
            <tr>
                <th colspan="2">Walking Dead</th>
            </tr>
            <tr><td colspan="2" height="18"></td></tr>
        </thead>
        <tfoot>
          <tr>
           <td width="75%">posted by JesusCh | 16.May 16</td>
           <td><center>
             <a href="?page=&amp;option=comment_news&amp;main_id=214"><b>1 comment(s)</b></a>
           </center></td>
          </tr>
        </tfoot>
        <tbody>
            <tr><td colspan="2">siRRao spielt das und es ist ganz toll und er hat nen Clan und so.. :)</td></tr>
        </tbody>
    </table><br>

<table cellpadding="4" border="1">
        <thead>
            <tr>
                <th colspan="2">Walking Dead</th>
            </tr>
            <tr><td colspan="2" height="18"></td></tr>
        </thead>
        <tfoot>
          <tr>
           <td width="75%">posted by JesusCh | 16.May 16</td>
           <td><center>
             <a href="?page=&amp;option=comment_news&amp;main_id=214"><b>1 comment(s)</b></a>
           </center></td>
          </tr>
        </tfoot>
        <tbody>
            <tr><td colspan="2">siRRao spielt das und es ist ganz toll und er hat nen Clan und so.. :)</td></tr>
        </tbody>
    </table><br>

<table cellpadding="4" border="1">
        <thead>
            <tr>
                <th colspan="2">Walking Dead</th>
            </tr>
            <tr><td colspan="2" height="18"></td></tr>
        </thead>
        <tfoot>
          <tr>
           <td width="75%">posted by JesusCh | 16.May 16</td>
           <td><center>
             <a href="?page=&amp;option=comment_news&amp;main_id=214"><b>1 comment(s)</b></a>
           </center></td>
          </tr>
        </tfoot>
        <tbody>
            <tr><td colspan="2">siRRao spielt das und es ist ganz toll und er hat nen Clan und so.. :)</td></tr>
        </tbody>
    </table><br>
     
     </div>
     <!-- End Content -->
     
     </div>
     <!-- End Main -->
     
     <!-- Begin Footer -->
     <div id="footer" >

        <img src="{{ asset ('images/footer00.png') }}">
        <div id="footerlinks">
            <ul>
                <li><a href="#news">news</a></li>
                <li><a href="#members">members</a></li>
                <li><a href="#about">news</a></li>
                <li><a href="#wars">wars</a></li>
                <li><a href="#links">links</a></li>
                <li><a href="#forum">forum</a></li>
                <li><a href="#contact">contact</a></li>
                <li><a href="#intern">intern</a></li>
            </ul>
         
82IIo.CLAN | Copyright 2001-2016
            <img src="{{ asset ('images/footer01.png') }}">
        </div>
       </div>
     <!-- End Footer -->
     
   </div>
   <!-- End Wrapper -->
   
{% endblock %}
